Objects/
Listings/
Output/
DebugConfig/

*.o
*.d
*.crf
*.lst
*.map
*.htm
*.lnp
*.axf
*.elf
*.bin
*.hex
*.dep
*.iex
*.bak
*.tmp

*.uvguix.*
*.uvgui.*

JLinkLog.txt
*.log

.DS_Store
Thumbs.db

config_private.h
*_private.h